@import "bulma/css/bulma.css";

/* Add a border and padding to the box to ensure it's applied */
#filter-sidebar.box {
  padding: 1.25rem;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
}

/* Custom styles for the menu to ensure correct appearance */
#filter-sidebar .menu-label {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
  font-size: 11px;
  color: #7a7a7a;
}